.board{
  /* board 부모 크기 전체 물려받음 -> 80vw */
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  table-layout: fixed;
}

.board th,
.board td{
  /* 테이블에서 위아래 폭은 height지정x 
  -> 보통 위아래 padding으로 조절
  */
  padding: 12px;
  border: none;
  /* 1,2,3,4,5,6,7,8,9,a,b,c,d,e,f */
  border-bottom: 1px solid #eee;
  text-align: center;
}

.board thead th{
  background-color: #eee;
  border-bottom: 2px solid #ccc;
}

.boardth:nth-child(1), .boardth:ntd-child(1){
  width: 70px;
}
.boardth:nth-child(2), .boardth:ntd-child(2){
  width: 150px;
  text-align: left;
  padding-left: 120px;
}
.boardth:nth-child(3), .boardth:ntd-child(3){
  width: 120px;
}
.boardth:nth-child(4), .boardth:ntd-child(4){
  width: 140px;
}
.boardth:nth-child(5), .boardth:ntd-child(5){
  width: 90px;
}

.board tbody tr:nth-child(even){
  background-color: #fcfcfc;
}

.board tbody tr:hover{
  cursor: pointer;
  background-color: #f0f0f0;
}

h1{
  margin: 30px auto;
  text-align: center;
}

main{
  width: 80vw;
  margin: 50px auto;
}


.title{
  text-align: left;
}