main{
  width: 80vw;
  height: 150vh;
  box-sizing: border-box;
}

div{
/* 부모의 width에 대해 100% */
width: 100%;
height: 100px;
border: 2px solid black;
margin-bottom: 15px;
font-size: 35px;
display: flex;
align-items: center;
justify-content: center;
}

/* box1 */
.box1{
  /* 요소의 원래 위치 기준으로 이동 
  top, left, bottom, right */
  position: relative;
  left: 20px;
}

.box2{
  /* 부모요소 중 position울 가진 요소를 기준으로 이동 
  없다면 body기준으로 이동
  갑자기 좌우포깅 길어진이유: main이 아니라 body의ㅏ 좌우폭을 적용받았기 때문
  -> 기존 layout에서 탈피*/
  position: absolute;
  top: 0px;
  /* 화면의 z축 우선순위 */
  /* 999면 z-index가 1~998인 요소 위로 보겠다 */
  z-index: 999px;
}

.box3{
  /* 
  뷰포트(브라우저홤녀) 기준으로 이동
  좌우폭 -> 뷰포트 기준으로 바뀜
  */
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.box4{
  /* 
  기본은 relative처럼 있다가
  스크롤바가 내려가서 요소가 사라지는 시점에서\
  fixed처럼 행동 */
 position: sticky;
 top: 10px; 
}