*{
  margin: 0;
  padding: 0;
}

body{
  background-attachment: #fff;
}

.wrapper{
  /* signinbox, signupbox 세로정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  gap: 10px;
}

.signin-box{
  width: 350px;
  border: 1px solid #ddd;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-area img{
  width:100%;
}

.signup-box{
  width: 350px;
}

.form-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-area input{
  height: 35px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}

.form-area input:focus{
  border: 1px solid #444;
}

.form-area button{
  height: 35px;
  background-color: #4cb5f5;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.driver {
  width: 100%;
}